name: Build Wholphin Debug

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs='-Xmx4g -XX:MaxMetaspaceSize=512m'"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Setup
      uses: ./.github/actions/setup

    - name: Native build
      uses: ./.github/actions/native-build
      with:
        cache: true

    - name: Build Debug APK
      run: ./gradlew assembleDebug --no-daemon --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Wholphin-Debug-Build
        path: app/build/outputs/apk/debug/*.apk
        retention-days: 14